<h1>Holis, estoy editando</h1>
<%= form_with model: @hotel, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :stars %>
    <%= form.number_field :stars %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>